[Unit]
Description=Domoticz Home Automation
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/domoticz
StandardOutput=null
#ExecStart=/home/pi/domoticz/domoticz -www 8080 -sslwww 0 -log /tmp/domoticz.log
ExecStart=/home/pi/domoticz/domoticz -www 80 -sslwww 443 -log /tmp/domoticz.log

# Give the right to open priviliged ports. This allows you to run on a port <1024 without root permissions (user/group setting above)
#
# The next line was previously working, so try this on older systems.
# ExecStartPre=setcap 'cap_net_bind_service=+ep' /home/pi/domoticz/domoticz
#
# The below works on ubuntu 16 LTS.
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE

KillMode=process
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=domoticz.service
